 html, body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

#searchbar {
  margin-top: -5px;
}

#address {
  margin-right: 10px;
  max-width: 300px;
  background-color: lightblue;
}

#main-area {
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
  background-color: white;
}

#map-canvas, #map-list {
  height: 100%;
}

#place-filter {
  background-color: lightblue;
}

ul {
  list-style-type: none;
  margin-top: 45px;
  padding-left: 0;
}

li {
  margin: 0;
  margin-top: 10px;
  padding: 10px;
}

.scroll {
  overflow: scroll;
}

.place-name {
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

hr {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  margin-top: 10px;
}

img {
  padding: 5px 0;
}

.yelp-review {
  display: inline-block;
  width: 200px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: 1px solid lightgrey;
  background-color: white;
}

.yelp-review img {
  margin: 0 auto;
}

footer {
  margin: 0;
  padding: 0;
}

/******************************************************/
/************     bootstrap overrides     *************/
/******************************************************/

.container {
  padding: 0;
  margin: 0 auto;
}

.navbar-default {
  border-radius: 0;
  background-color: orange;
}
