 html, body {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#main-area {
  height: 400px;
}

#map-canvas {
  height: 100%;
}

#searchbar {
  margin-top: -5px;
}

#address {
  margin-right: 10px;
  max-width: 300px;
  background-color: lightblue;
}

#searchbutton {
  margin-right: 10px;
}

#filters li {
  display: inline-block;
  padding: 5px;
}

#footerbar {
  padding: 0 20px 5px;
  border-top: 1px solid lightgrey;
  max-width: 1200px;
}

.footer-logo {
  height: 15px;
  margin-top: -2px;
}


/*bootstrap overrides*/

.container {
  max-width: 1200px;
  /*background-color: red;*/
}

/*.navbar-default,*/
.navbar-fixed-bottom {
  max-width: 1200px;
  margin: 0 auto;
  background-color: orange;
}